
/* veio com a implantacao

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'jost', sans-serif; 
  font-weight: 400;
  color: #292F36;
  background-color: #F7F7F7;
  }

  a{
    text-decoration: none;
  }

  /* main clolor */
  .primary-background{
    background-color: #0c70F2;
  }

  .primary-color{
    background-color: #0c70F2;
  }

  .secondary-background{
    background-color: #1d1d1d;
  }

  .secondary-color{
    background-color: #1d1d1d
  }

  .tertiary-background{
  background-color: #F6F6F6;
}

  .tertiary-color{
    background-color: #F6F6F6
  }

  .grey-1-color{
    color: #4D5053;
  }
  /* grid */
  .container{
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    position: relative;
    padding: 0 30px;
  }

  .al-center{
    align-items: center;
  }

  .al-end{
    align-items: end;
  }
  .d-flex{
    display: flex;
  }
  .fd-column{
    flex-direction: column;
  }
  .jc-center{
    justify-content: center;
  }
  .jc-end {
    justify-content: end;
  }

  .jc-space-between{
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    .container{
      width: 90%;
    }
    .mobile-fd-column{
      flex-direction: column;
    }
  }